{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="">
            <p>
                Бренд одежды, который был создан в июле 2019 года в<br>
                городе Екатеринбург олицетворяет быстрый взлёт и<br>
                подъём.Одежду от AUTOMATIC VERTICAL можно увидеть на<br>
                таких людях, как:
            </p>
            <p>
                OG Buda, THRILL PILL, blago white,soda luv, lovv66, SEEMEE,<br>
                YUNGWAY, MellowBite(Polyana), Magnum Opus, MARCO-9,<br>
                Riley Baby.
            </p>
            <p>
                Создатель бренда при создании вещей вдохновляется как<br>
                предметами искусств так и людьми, которые его окружают.<br>
                Основная цель бренда предоставить людям вещи<br>
                хорошего качества, сохранившую в ней идею при<br>
                создании.
            </p>
</div>
{% endblock content %}