{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <img style="max-width:560px;" src="{{ product.imageURL }}" alt="">
    </div>
    <div class="col-md-6">
        <div class="d-flex align-items-start flex-column">
            <div class="mb-auto" style="">
                <h3>{{ product.name }}</h3>
            </div>
            <div>
                <h5>{{ product.price }}₽</h5>
                <div class="btn update-cart" data-product="{{ product.id }}" data-action="add">В корзину</div>
                <p>Футер 3х нитка петля 100% хлопок - 390 гр/м2 dtf печать Оверсайз крой</p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}