{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <img style="max-width:560px;" src="{{ product.imageURL }}" alt="">
    </div>
    <div class="col-md-6">

            <div class="" style="margin-top: 15%">
                <h3>{{ product.name }}</h3>
                <p class="">Футер 3х-нитка<br>100% хлопок<br>390гр плотность<br>dtf печать<br>Оверсайз крой</p>
                <div style="margin-top: 15%">
                    <h5>{{ product.price }}₽</h5>
                    <div class="btn update-cart" data-product="{{ product.id }}" data-action="add">В корзину</div>
                </div>
            </div>


    </div>
</div>
{% endblock content %}