
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/reg_log.css" %}'>
    <title>Reg</title>
</head>
<body>

<div class="wrapper">
    <h2>Registration</h2>
    <form action="" method="POST">
        {% csrf_token %}
      <div class="input-box">
<!--        <input type="text" name="email" placeholder="Enter your email" required>-->
          {{form.username}}
      </div>

      <div class="input-box">
<!--        <input type="text" name="username" placeholder="Enter your username" required>-->
          {{form.email}}
      </div>

      <div class="input-box">
<!--       <input type="password" name="password" placeholder="Enter your pass" required>-->
          {{form.password1}}
      </div>


      <div class="input-box">
<!--       <input type="password" name="password" placeholder="Enter your pass" required>-->
          {{form.password2}}
      </div>

      <div class="input-box btn-light">
        <input type="Submit" value="Register">
      </div>
        {{form.errors}}

      <div class="text">
        <h3>Already have an account? <a href="{% url 'login' %}">Sign in</a></h3>
      </div>
    </form>
  </div>
</body>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "Username.."
        form_fields[2].placeholder = "Email.."
        form_fields[3].placeholder = "Password.."
        form_fields[4].placeholder = "Re-enter password.."

        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }
    </script>
</html>