{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3">
            <a class='' href="{% url 'detail' product.id %}" >
                <img class="img-fluid" src="{{product.imageURL}}" alt="" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="fade-in-up">
                <div class="text-center mfont">
                    <div class="mb-1">{{product.name}}</strong></div>
                    <div>{{product.price|floatformat:2}}₽</div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
<hr>
{% endblock content %}